body {
    background-color: #15324f;
    color: #fff;
}

.underh {
    text-decoration: none;
    border-bottom: 10px solid #FF975E;
}

.list-group-item {
    background-color: #15324f;
    border-left: 1px solid rgb(103, 127, 158);
    border-right: 1px solid rgb(103, 127, 158);
    border-top: 1px solid rgb(103, 127, 158);
    border-bottom: 3px solid rgb(103, 127, 158);
}

.list-group-item:hover {
    background-color: #274768;
}


a {
    color: #FF975E;
}

a:hover {
    color:rgb(103, 127, 158);
}


footer {
    width: 100%;
    bottom: 0;
}

svg[width="32"]{
    color: #c0c0c0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 20%;
    z-index:-10;
}

#save {
    color: #2ED1CB;
}